In [ ]:
def calculate_square(number):
  square_result=number**2
  return square_result
input_number=5
result=calculate_square(input_number)
print(f"the square of {input_number}is:{result}")

the square of 5is:25

In [ ]:
def greet_person(name,greeting="hi"):
    print(f"{greeting},{name}!")
name_input=input("enter the name:")
greet_person(name_input)

enter the name:kl rahul
hi,kl rahul!

In [ ]:
def add_numbers(num1,num2):
    return num1+num2
number1=1
number2=6
result=add_numbers(number1,number2)
print(f"the sum of {number1} and {number2} is: {result}")

the sum of 1 and 6 is: 7

In [ ]:
def calculate_power(base,exponent):
    result=base**exponent
    return result
base_value=int(input("enter the base:"))
exponent_value=int(input("enter the exponent:"))
power_result=calculate_power(base_value,exponent_value)
print(f"{base_value}raised to the power of {exponent_value}is:{power_result}")

enter the base:7
enter the exponent:1
7raised to the power of 1is:7

In [ ]:
def calculate_area(length,width=1):
    area=length*width
    return area
length_input=float(input("enter the length of the rectangle:"))
width_input=float(input("enter the width of the rectangle (press enter the default value of 1):")or 1)
result=calculate_area(length_input,width_input)
print(f"the area of the rectangle is : {result}")

enter the length of the rectangle:1
enter the width of the rectangle (press enter the default value of 1):7
the area of the rectangle is : 7.0

In [ ]:
def greet_person(name,greeting="hello"):
    personalized_greeting=f"{greeting},{name}!"
    print(personalized_greeting)
name=input("enter a name:")
greet_person(name)

enter a name:kl rahul
hello,kl rahul!

In [ ]:
def person_info(name,age,country):
    print(f"Name:{name}")
    print(f"Age:{age}")
    print(f"Country:{country}")
person_info(name="kl rahul",age=21,country="india")

Name:kl rahul
Age:21
Country:india

In [ ]:
def calculate_interest(principal,rate,time):
    interest=(principal*rate*time)/100
    return interest
principal_amount=7000.0
interest_rate=7.0
time_peroid=7.177
simple_interest=calculate_interest(principal=principal_amount,rate=interest_rate,time=time_peroid)
print(f"Principal: ${principal_amount}")
print(f"Interest: {interest_rate}%")
print(f"Time: {time_peroid} years")
print(f"Simple Interest: ${simple_interest}")

Principal: $7000.0
Interest: 7.0%
Time: 7.177 years
Simple Interest: $3516.73

In [ ]:
def sum_all(*args):
    return sum(args)
result=sum_all(1,1,2,2,1)
print("sum:",result)

sum: 7

In [ ]:
def print_items(*args):
    for item in args:
        print(item)
print_items("rahane","kohli","ishan","jadeja","kl rahul")

rahane
kohli
ishan
jadeja
kl rahul

In [ ]:
def create_person(name,age,*args):
    person_info={
         'name':name,
         'age':age
    }
    for additional_info in args:
        person_info.update(additional_info)
    return person_info
person1=create_person("rahane",21)
print(person1)
person2=create_person("kl rahul",21)
print(person2)

{'name': 'rahane', 'age': 21}
{'name': 'kl rahul', 'age': 21}

In [ ]:
def calculate_product(*args):
    if len(args)<3:
       print("error:at least three numbers are required")
       return None
    result=1
    for num in args:
        result*=num
    return result
numbers=[1,1,7]
result=calculate_product(*numbers)
if result is not None:
   print(f"the product of {numbers}is:{result}")

the product of [1, 1, 7]is:7

In [ ]:
def is_even(number):
    return number%2==0
input_number=int(input("enter a number:"))
result=is_even(input_number)
if result:
    print(f"{input_number}is even")
else:
    print(f"{input_number}is not even")

enter a number:7
7is not even

In [ ]:
def is_vowel(char):
    char=char.lower()
    return char in ['a','e','i','o','u']
input_char=input("enter a character:")
if len(input_char)==1 and input_char.isalpha():
   result=is_vowel(input_char)
   print(f"the character '{input_char}'is a vowel:{result}")
else:
  print("invalid input please enter a single alphabet character")

enter a character:e
the character 'e'is a vowel:True

In [ ]:
def split_name(full_name):
    name_parts=full_name.split()
    if len(name_parts)>=2:
       first_name=name_parts[0]
       last_name=''.join(name_parts[1:])
       name_tuple=(first_name,last_name)
       return name_tuple
    else:
        return None
full_name=input("enter a full name:")
result=split_name(full_name)
if result is not None:
   print("first name:",result[0])
   print("last name:",result[1])
else:
    print("invalid input please enter a full name")

enter a full name:kl rahul
first name: kl
last name: rahul

In [ ]:
def perform_operation(num1,num2,operation):
    if operation=='add':
        result=num1+num2
    elif operation=='subtract':
         result=num1-num2
    elif operation=='multiply':
         result=num1*num2
    elif operation=='divide':
         if num2!=0:
            result=num1/num2
         else:
             return "error:division by zero is not allowed"
    else:
        return "error:invalid operation please choose 'add','subtract','multiply',or 'divide'"
    return result
num1=int(input("enter the first number:"))
num2=int(input("enter the second number:"))
operation=input("enter the operation('add','subtract','multiply','divide'):")
result=perform_operation(num1,num2,operation)
print(f"result of {num1} {operation} {num2} is: {result}")

enter the first number:7
enter the second number:7
enter the operation('add','subtract','multiply','divide'):1
result of 7 1 7 is: error:invalid operation please choose 'add','subtract','multiply',or 'divide'

In [ ]:
square=lambda x:x**2
number=int(input("enter a number:"))
result=square(number)
print(f"the square of {number}is: {result}")

enter a number:1
the square of 1is: 1

In [ ]:
def filter_even(numbers,filter_function):
    return list(filter(filter_function,numbers))
numbers_list=[1,2,3,4,5,6,7]
even_filter=lambda x:x%2==0
filter_numbers=filter_even(numbers_list,even_filter)
print("original list:",numbers_list)
print("filter list(even numbers):",filter_numbers)

original list: [1, 2, 3, 4, 5, 6, 7]
filter list(even numbers): [2, 4, 6]