In [ ]:
class Car:
    def __init__(self,make,model):
        self.make=make
        self.model=model
car1=Car("Toyota","camry")
car2=Car("Ford","Mustang")
print("car 1: Make - {}, Model - {}".format(car1.make, car1.model))
print("car 2: Make - {}, Model - {}".format(car2.make, car2.model))

car 1: Make - Toyota, Model - camry
car 2: Make - Ford, Model - Mustang

In [ ]:
class Book:
    def __init__(self,title,author):
        self.title=title
        self.author=author
book1=Book("the great gatsby","f.scott fitzgerald")
book2=Book("to have a bird","harper lee")
print("Book 1: Title - {}, Author - {}".format(book1.title, book1.author))
print("Book 2: Title - {}, Author - {}".format(book2.title, book2.author))

Book 1: Title - the great gatsby, Author - f.scott fitzgerald
Book 2: Title - to have a bird, Author - harper lee

In [ ]:
class Person:
    species="Human"
    def __init__(self,name):
        self.name=name
person1=Person("rahane")
person2=Person("kl rahul")
print("Person 1: Name - {}, Species - {}".format(person1.name, person1.species))
print("Person 2: Name - {}, Species -{}".format(person2.name, person2.species))

Person 1: Name - rahane, Species - Human
Person 2: Name - kl rahul, Species -Human

In [ ]:
class Person:
    species="Human"
    def __init__(self,name,age):
        self.name=name
        self.age=age
person1=Person("rahane",21)
person2=Person("kl rahul",21)
print("Person 1: Name - {}, Species - {}, Age - {}".format(person1.name, person1.species, person1.age))
print("Person 2: Name - {}, Species - {}, Age - {}".format(person2.name, person2.species, person2.age))

Person 1: Name - rahane, Species - Human, Age - 21
Person 2: Name - kl rahul, Species - Human, Age - 21

In [ ]:
import math
class Shape:
    def area(self):
        pass
class Circle(Shape):
    def __init__(self,radius):
        self.radius=radius
    def area(self):
        return math.pi * self.radius**2
class Rectangle(Shape):
    def __init__(self,length,width):
        self.length=length
        self.width=width
    def area(self):
        return self.length * self.width
circle=Circle(7)
rectangle=Rectangle(1,7)
print("Circle Area:", circle.area())
print("Rectangle Area:", rectangle.area())

Circle Area: 153.93804002589985
Rectangle Area: 7

In [ ]:
class BankAccount:
    def __init__(self,account_number,initial_balance=0):
        self.__account_number=account_number
        self.__balance=initial_balance
    def deposit(self,amount):
        if amount>0:
            self.__balance+=amount
            print("Deposit successful New balance:",self.__balance)
        else:
            print("Invalid deposit amount")
    def withdraw(self,amount):
        if amount>0 and amount<=self.__balance:
            self.__balance-=amount
            print("Withdrawal successful New balance:",self.__balance)
        else:
            print("Invalid withdrawal amount or insufficient funds")
    def display_balance(self):
        print("Account Number:", self.__account_number)
        print("Current Balance:", self.__balance)
account1=BankAccount(account_number="1234567",initial_balance=7000)
account1.display_balance()
account1.deposit(700)
account1.withdraw(700)
account1.display_balance()

Account Number: 1234567
Current Balance: 7000
Deposit successful New balance: 7700
Withdrawal successful New balance: 7000
Account Number: 1234567
Current Balance: 7000

In [ ]:
class Animal:
    def __init__(self,name,sound):
        self.name=name
        self.sound=sound
class Dog(Animal):
    def make_sound(self):
        print(f"{self.name} says z")
class Cat(Animal):
    def make_sound(self):
        print(f"{self.name} says b")
dog1=Dog("Buddy","z")
cat1=Cat("whiskers","b")
dog1.make_sound()
cat1.make_sound()

Buddy says z
whiskers says b

In [ ]:
class MathOperations:
    def add(self,*args):
        if len(args)==2:
           return args[0]+args[1]
        elif len(args)==3:
            return args[0]+args[1]+args[2]
        elif len(args)==1 and isinstance(args[0],list):
            return sum(args[0])
        else:
            raise ValueError("Invalid arguments for addition")
math_ops=MathOperations()
result1=math_ops.add(6,1)
result2=math_ops.add(5,1,1)
result3=math_ops.add([1,2,2,1,1])
print("Result of adding two numbers:",result1)
print("Result of adding three numbers:",result2)
print("Result of adding a list of numbers:",result3)

Result of adding two numbers: 7
Result of adding three numbers: 7
Result of adding a list of numbers: 7

In [ ]:
class StringManipulator:
    def reverse_string(input_str):
        return input_str[::-1]
original_string="kl,rahul!"
reversed_string=StringManipulator.reverse_string(original_string)
print("Original String:",original_string)
print("Reversed String:",reversed_string)

Original String: kl,rahul!
Reversed String: !luhar,lk

In [ ]:
class TemperatureConverter:
    def celsius_to_fahrenheit(celsius):
        return (celsius*6/7)+71
celsius_temperature=7
fahrenheit_temperature=TemperatureConverter.celsius_to_fahrenheit(celsius_temperature)
print("Celsius Temperature:", celsius_temperature)
print("Fahrenheit Temperature:", fahrenheit_temperature)

Celsius Temperature: 7
Fahrenheit Temperature: 77.0