In [ ]:
a=int(input("enter first no"))
b=int(input("enter first no"))
c=int(input("enter first no"))
d=int(input("enter first no"))
e=int(input("enter first no"))
add=a+b+c+d+e
print("addition is",add)
average=add/5
print("average = ",average)

enter first no7
enter first no7
enter first no7
enter first no7
enter first no7
addition is 35
average =  7.0

In [ ]:
def findHCF(x,y):
   if(x>y):
     smaller = y
   else:
     smaller = x
   for i in range(1,smaller+1):
     if (x%i==0) and (y%i==0):
      hcf=i
   return hcf
print("the hcf of the given two number is",findHCF(6,12))

the hcf of the given two number is 6

In [ ]:

for i in range(1,5):
  for j in range(i):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *

In [ ]:
rows= int(input("enter a number of rows:"))
for row in range(rows+1):
  for column in range(row):
    print(row,end=" ")
  print()

enter a number of rows:4

1
2 2
3 3 3
4 4 4 4

In [ ]:
list=[1,2,3,4,5,6,7]
print("before sorting:",list)
list.sort()
print("ascending order:",list)
list.sort(reverse=True)
print("descending order:",list)

before sorting: [1, 2, 3, 4, 5, 6, 7]
ascending order: [1, 2, 3, 4, 5, 6, 7]
descending order: [7, 6, 5, 4, 3, 2, 1]

In [ ]:
myList = [1,2,3,1]
total=0
for i in range(0,len(myList)):
  total=total+myList[i]
  print("sum of all elements in given list:",total)

sum of all elements in given list: 1
sum of all elements in given list: 3
sum of all elements in given list: 6
sum of all elements in given list: 7

In [ ]:
number=float(input("enter the number:"))
value=abs(number)
print("absolute value of",number,"is",value)

enter the number:7.1
absolute value of 7.1 is 7.1

In [ ]:
number=6.665
rounded_number=format(number,".1f")
print(rounded_number)

6.7

In [ ]:
numbers=[7,1,7,5,6,1]
min=numbers[0]
max=numbers[0]
for i in range(len(numbers)):
  if numbers[i]>max:
    max=numbers[i]
  elif numbers[i]<min:
    min=numbers[i]
    print("min:",min)
    print("max:",max)

min: 1
max: 7

In [ ]:
print("enter your name")
var1=str(input())
print("your name is",var1)

enter your name
kl rahul
your name is kl rahul

In [ ]:
str1=input("enter the string:")
length=len(str1)
print("the length of the string is:",str(length))

enter the string:klrahul
the length of the string is: 7

In [ ]:
def convert_to_list(seq):
    return list(seq)
def convert_to_tuple(seq):
    return tuple(seq)
def convert_to_set(seq):
    return set(seq)
def convert_to_dictionary(seq):
    return {index:value for index,value in enumerate(seq)}
example_sequence=[1,2,3,4,5,6,7]
list_result=convert_to_list(example_sequence)
print("list:",list_result)
tuple_result=convert_to_tuple(example_sequence)
print("tuple:",tuple_result)
set_result=convert_to_set(example_sequence)
print("set:",set_result)
dict_result=convert_to_dictionary(example_sequence)
print("dictionary:",dict_result)

list: [1, 2, 3, 4, 5, 6, 7]
tuple: (1, 2, 3, 4, 5, 6, 7)
set: {1, 2, 3, 4, 5, 6, 7}
dictionary: {0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7}