In [ ]:
fruits = {'apple','banana','orange'}
print("Fruits set:",fruits)

Fruits set: {'orange', 'apple', 'banana'}

In [ ]:
fruits = {'apple','banana','orange'}
fruits.add('grape')
print("Updated Fruits set:",fruits)

Updated Fruits set: {'orange', 'apple', 'grape', 'banana'}

In [ ]:
fruits = {'apple','banana','orange'}
fruits.remove('banana')
print("Updated Fruits set:",fruits)

Updated Fruits set: {'orange', 'apple'}

In [ ]:
colors = {'red','green','blue'}
print("Colors set:",colors)

Colors set: {'blue', 'red', 'green'}

In [ ]:
fruits = {'apple','banana','orange'}
colors = {'red','green','blue'}
combined_set=fruits.union(colors)
print("Combined set:",combined_set)

Combined set: {'blue', 'orange', 'apple', 'banana', 'red', 'green'}

In [ ]:
fruits = {'apple','banana','orange'}
other_set={'banana','grape','mango'}
unique_fruits=fruits.difference(other_set)
print("Unique elements in 'fruits' set:",unique_fruits)

Unique elements in 'fruits' set: {'apple', 'orange'}

In [ ]:
fruits = {'apple','banana','orange'}
colors = {'red','green','blue'}
is_subset=colors.issubset(fruits)
if is_subset:
    print("the 'colors' set is a subset of the 'fruits' set")
else:
    print("the 'colors' set is not a subset of the 'fruits' set")

the 'colors' set is not a subset of the 'fruits' set

In [ ]:
student = {
    'name':'kl rahul',
    'age':21,
    'grade':'A'

}
print("Student information:",student)

Student information: {'name': 'kl rahul', 'age': 21, 'grade': 'A'}

In [ ]:
student = {
    'name':'klrahul',
    'age':21,
    'grade':'A'
}
age_value=student['age']
print("Age:",age_value)

Age: 21

In [ ]:
student = {
    'name':'klrahul',
    'age':21,
    'grade':'A'
}
student['grade']='B'
print("Upadated Student information:",student)

Upadated Student information: {'name': 'klrahul', 'age': 21, 'grade': 'B'}

In [ ]:
student = {
    'name':'kl rahul',
    'age':21,
    'grade':'B'
}
keys_list=list(student.keys())
print("List of keys:",keys_list)

List of keys: ['name', 'age', 'grade']

In [ ]:
student = {
    'name':'klrahul',
    'age':21,
    'grade':'B'
}
values_list=list(student.values())
print("List of values:",values_list)

List of values: ['klrahul', 21, 'B']

In [ ]:
student = {
    'name':'kl rahul',
    'age':21,
    'grade':'B'
}
items_list=list(student.items())
print("List of key-value pairs:",items_list)

List of key-value pairs: [('name', 'kl rahul'), ('age', 21), ('grade', 'B')]

In [ ]:
student = {
    'name':'kl rahul',
    'age':21,
    'grade':'B'
}
if 'grade' in student:
    print("the key 'grade' is present in the student dictionary")
else:
    print("the key 'grade' is not present in the student dictionary")

the key 'grade' is present in the student dictionary