In [ ]:
logged_in=True
logged_out=False
print("logged_in:",logged_in)
print("logged_out:",logged_out)

logged_in: True
logged_out: False

In [ ]:
num1=7
num2=7.1
my_name="kl rahul"
print("num1:",num1)
print("num2:",num2)
print("my_name:",my_name)

num1: 7
num2: 7.1
my_name: kl rahul

In [ ]:
user_name="kl rahul"
print("User Name:",user_name)

User Name: kl rahul

In [ ]:
user_name=input("enter your name:")
print("User Name:",user_name)

enter your name:kl rahul
User Name: kl rahul

In [ ]:
user_age=input("enter your age:")
print("entered age:",user_age)

enter your age:21
entered age: 21

In [ ]:
num1=int(input("enter the first number(num1):"))
num2=int(input("enter the second number(num2):"))
sum_result=num1+num2
diff_result=num1-num2
mult_result=num1*num2
div_result=num1/num2
exp_result=num1**num2
print("Sum:",sum_result)
print("Difference:",diff_result)
print("Product:",mult_result)
print("Division:",div_result)
print("Exponentiation:",exp_result)

enter the first number(num1):6
enter the second number(num2):1
Sum: 7
Difference: 5
Product: 6
Division: 6.0
Exponentiation: 6

In [ ]:
num1=int(input("enter the first integer(num1):"))
num2=int(input("enter the second integer(num2):"))
modulo_result=num1%num2
print("Result of the Modulo Operation:",modulo_result)

enter the first integer(num1):1
enter the second integer(num2):7
Result of the Modulo Operation: 1

In [ ]:
num1=int(input("enter the first number (num1):"))
num2=int(input("enter the second number (num2):"))
equal_result=num1==num2
not_equal_result=num1!=num2
greater_than_result=num1>num2
less_than_result=num1<num2
greater_equal_result=num1>=num2
less_equal_result=num1<=num2
print("Equal:",equal_result)
print("Not Equal:",not_equal_result)
print("Greater Than:",greater_than_result)
print("Less Than:",less_than_result)
print("Greater Than or Equal:",greater_equal_result)
print("Less Than or Equal:")

enter the first number (num1):7
enter the second number (num2):1
Equal: False
Not Equal: True
Greater Than: True
Less Than: False
Greater Than or Equal: True
Less Than or Equal:

In [ ]:
bool1=bool(input("enter the first boolean value(true or false):"))
bool2=bool(input("enter the second boolean value(true or false):"))
and_result=bool1 and bool2
or_result=bool1 or bool2
not_result1=not bool1
not_result2=not bool2
print("AND Result:",and_result)
print("OR Result:",or_result)
print("NOT Result for bool1:",not_result1)
print("NOT Result for bool2:",not_result2)

enter the first boolean value(true or false):7
enter the second boolean value(true or false):7
AND Result: True
OR Result: True
NOT Result for bool1: False
NOT Result for bool2: False

In [ ]:
var1=[1,2,3,4,5,6,7]
var2=[1,2,3,4,5,6,7]
is_result=var1 is var2
is_not_result=var1 is not var2
print("Identity (is) Result:",is_result)
print("Not Identity (is not) Result:",is_not_result)

Identity (is) Result: False
Not Identity (is not) Result: True

In [ ]:
fruits=["apple","banana","orange","grape"]
item1="banana"
item2="watermelon"
in_result1=item1 in fruits
in_result2=item2 in fruits
not_in_result1=item1 not in fruits
not_in_result2=item2 not in fruits
print("Fruits:",fruits)
print("Item1:",item1)
print("Item2:",item2)
print("Membership (in) Result for Item1:",in_result1)
print("Membership (in) Result for Item2:",in_result2)
print("Not Membership (not in) Result for Item1:",not_in_result1)
print("Not Membership (not in) Result for Item2:",not_in_result2)

Fruits: ['apple', 'banana', 'orange', 'grape']
Item1: banana
Item2: watermelon
Membership (in) Result for Item1: True
Membership (in) Result for Item2: False
Not Membership (not in) Result for Item1: False
Not Membership (not in) Result for Item2: True